.confirmationModal {

}

.messageContainer {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.icon {
    width: 6.25rem;
    height: 6.25rem;
    color: var(--primary-background-color);
}

.message {
    text-align: center;
    margin: 1rem 0 0;
}

.actions {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 1.25rem;
}

.actions > * + * {
    margin-left: 1.25rem;
}

.button {
    font-size: calc(1rem + 3px);
}
