.error {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2.25em 0;
}

.error img {
    width: 250px;
    margin-bottom: 1.625em;
}

.error span {
    font-size: 4em;
    text-align: center;
}

.error .action {
    margin-top: 1.625em;
}
