.env
.env.*
.git
.gitignore
.gitattributes
/db
node_modules
dist
.cache
build
.gradle
.idea
Dockerfile
docker-compose.yml
docker-compose.*.yml
.editorconfig
.strapi-updater.json
/backend/public/uploads
.next
.output
storage
secrets
