**/.env
**/.env.*
!apps/bot/frontend/.env.public
**/.nvmrc
.git
.gitignore
**/.gitignore
.gitattributes
**/.gitattributes
**/db
**/node_modules
**/dist
**/.cache
**/build
build
**/.gradle
.gradle
**/.idea
.idea
docker-compose.yml
docker-compose.*.yml
.editorconfig
**/.next
**/.output
**/storage
secrets
reports
.env
node_modules
.turbo
dist
.next
