.DS_Store
.env
.env.*
!app/backend/.env.example
!app/discord-bot/.env.example
!app/frontend/.env.example
venv/
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace
.idea
*.sqlite
dist
/docker-compose.*.yml
!/docker-compose.test.yml
*.iml
.gradle
build
storage
secrets
reports
