.DS_Store
.env
.env.discord-bot
!examples/env/.env.discord-bot
venv/
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace
.idea
*.sqlite
docker-compose.override.yml
dist
