.DS_Store
.env
.env.*
!/.env.example
!apps/bot/backend/.env.example
!apps/bot/discord-bot/.env.example
!apps/bot/frontend/.env.example
!apps/auth/backend/.env.example
!apps/auth/frontend/.env.example
venv/
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace
.idea
*.sqlite
dist
/docker-compose.*.yml
!/docker-compose.test.yml
*.iml
.gradle
build
storage
secrets
reports
.turbo
node_modules
*.tsbuildinfo
ssl
