.sidebar {
    width: 33.33%;
    top: 0;
    right: -33.33%;
    position: fixed;
    transition: right 0.5s;
    background-color: var(--background-color);
    padding: 0 15px;
    box-shadow: -1px 0 20px rgba(0, 0, 0, 0.1);
    height: 100vh;
}

.sidebar.show {
    right: 0;
}
