.textAreaInput {
    position: relative;
}

.textAreaInput textarea {
    max-width: 100%;
    min-width: 100%;
    min-height: 8.3rem;
}

.counter {
    position: absolute;
    right: 0;
    top: 0.5rem;
    color: var(--text-disabled-color);
    font-size: 0.7rem;
}
