@import "@usada-pekora/ui/index.css";

body {
    background-color: #87CEEB;
}

main {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    position: absolute;
    bottom: 0;
    width: 100%;
    padding-bottom: 12rem;
    overflow: hidden;
}
