@tailwind components

@layer components {
    .backdrop {}
}

.backdrop {
    @apply w-full
        h-full
        fixed
        top-0
        left-0
        flex
        items-center
        justify-center;

    background-color: rgba(55, 65, 81, 0.8);
}

.modal {
    background-color: white;
}

.confirmation-modal {

}

.confirmation-modal-actions {
    display: flex;
    align-items: center;
    width: 100%;
}
