.button {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 0 !important;
    color: var(--primary-background-color) !important;
    font-size: 1.25rem;
}

.button + * {
    margin-top: 0.625rem;
}

.button:hover {
    text-decoration: underline;
}

.buttonIcon.active,
.button:hover .buttonIcon {
    display: none;
}

.button:hover .buttonIcon.active {
    display: block;
}

.buttonIcon {
    width: 1.6875rem;
    margin-right: 0.3125rem;
}
