.iconSelect {
    padding: 5px 30px 5px 10px;
}

.option img,
.option .emptyImage {
    border-radius: 50%;
    width: 24px;
    margin-right: 0.7rem;
    vertical-align: middle;
}

.option .emptyImage {
    display: flex;
    background-color: var(--secondary-background-color);
    color: var(--secondary-text-color);
    font-size: 0.7rem;
    height: 24px;
    align-items: center;
    justify-content: center;
}
