.select {
    padding: 5px 30px 5px 10px;
}

.selected .option {
    padding: 0;
}

.selected .option:hover {
    background-color: var(--background-color);
    color: var(--text-color);
}

.options {
    display: none;
    position: absolute;
    overflow-y: scroll;
    max-height: 40rem;
    width: calc(100% + 4px);
    left: -1.2px;
    top: 100%;
    border: 1px solid var(--input-border-color) !important;
    background-color: var(--select-option-background-color) !important;
    color: var(--select-option-text-color);
}

.option {
    width: 100%;
}

.option img,
.option .emptyImage {
    border-radius: 50%;
    width: 24px;
    margin-right: 0.7rem;
    vertical-align: middle;
}

.option .emptyImage {
    display: flex;
    background-color: var(--secondary-background-color);
    color: var(--secondary-text-color);
    font-size: 0.7rem;
    height: 24px;
    align-items: center;
    justify-content: center;
}

.select.opened {
    border-bottom: none !important;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.options.opened {
    display: block;
    border-top: none;
}
