.select {
    display: block;
    position: relative;
    cursor: pointer;
}

.arrow {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    right: 0.625rem;
    height: 100%;
    justify-content: center;
}

.arrowIcon:first-child {
    margin-bottom: -0.1875rem;
}

.arrowIcon {
    height: 0.7rem;
    margin-bottom: 0;
    color: var(--text-disabled-color);
}

.select .arrowIcon:first-child {
    margin-bottom: -0.1875rem;
}

.select .option {
    padding: 0.5rem 0.625rem;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.select .option:hover {
    background-color: var(--primary-hover-background-color);
    color: var(--primary-hover-text-color);
}

.selected .option {
    padding: 0;
}

.selected .option:hover {
    background-color: var(--background-color);
    color: var(--text-color);
}

.options {
    display: none;
    position: absolute;
    overflow-y: scroll;
    max-height: 40rem;
    width: calc(100% + 0.25rem);
    left: -0.125rem;
    top: 100%;
    border: 0.0625rem solid var(--input-border-color) !important;
    background-color: var(--select-option-background-color) !important;
    color: var(--select-option-text-color);
    border-radius: var(--default-border-radius);
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    z-index: 1;
}

.select.opened {
    border-bottom: none !important;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.options.opened {
    display: block;
    border-top: none;
}
