@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --color-primary: #A5B4FC; /* Indigo 300 */
    }
}

:root {
    --header-border-color: var(--color-primary);
}

img {
    pointer-events: none;
}
